@mixin formTheme {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin linkTheme {
  text-decoration: none;
  color: black;
}

@mixin buttonTheme {
  text-decoration: none;
  border: none;
  border-radius: 2px;
  text: white;
}
