@media print {
  button {
    display: none;
  }
  .jobs,
  .genInfo,
  .education {
    outline-style: none;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .column-display {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
