@import "./print";
@import "./variables";

@mixin formTheme {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// .jobs {
//   // outline-style: solid;
//   // background-color: rgb(192, 189, 189);
//   // padding-left: 130px
// }

.genInfo {
  // outline-style: solid;
  // background-color: grey;
  padding-left: 130px;
}

// .education {
//   // outline-style: solid;
//   // background-color: rgb(236, 236, 236);
//   // padding-left: 130px
// }

.delButton {
  background-color: rgb(192, 62, 62);
  padding: $btnPadding;
}

.editButton {
  background-color: rgba(160, 180, 199, 0.801);
  padding: $btnPadding;
}

.saveEditButton {
  background-color: rgba(31, 214, 31, 0.527);
  padding: $btnPadding;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  outline-style: solid;
}

.title {
  text-align: center;
  background-color: rgb(23, 172, 177);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  background-color: rgb(23, 172, 177);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  border-top: 5px solid;
  text-align: center;
}

// div.footer {
//   position: absolute;
//   width: 100%;
//   bottom: 0; /* stick to bottom */
//   background: rgb(23, 172, 177);
//   // border-top: 6px double gray;
// }
// div.footer p {
//   padding: 1em;
//   margin: 0;
// }

.name {
  font-size: xx-large;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  float: left;
  left: 50%;
}

.cvName {
  // background: #1abc9c;
  color: #1abc9c;
  font-size: xx-large;
}

.column-display {
  @include formTheme;
}

.column-form {
  @include formTheme;
}
